/*html {
    background: linear-gradient(to bottom, #f7f5f5 59%, #d39803e0);
    overflow-x: hidden;
}*/

.App {
    position: relative;
    text-align: center;
    top: 10px;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.welcome {
    color: black;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .welcome {
      font-size: 18px;
    }
  }

.citlogo {
    width: 120px;
    padding-bottom: 40px;
}

#email {
    outline-style: none;
    border-style: none;
    position: relative;
    left: -110px;
    top: -2px;
    font-size: 11px;
    background-color: #f7f5f5;
  }
  
  @media only screen and (max-width: 600px) {
    #email {
      left: 2px;
    }
  }

  .lemail {
    text-align: left;
    font-size: small;
  }
  
  #fieldemail {
    width: 400px;
    height: 30px;
    border-radius: 9px;
    border-color: #d39803e0;
    color: #828282;
    position: relative;
    top: 20px;
    margin: 0px auto;
  }
  
  @media only screen and (max-width: 600px) {
    #fieldemail {
      width: 200px;
      height: 40px;
    }
  }

  #button {
    width: 400px;
    height: 33px;
    border-radius: 5px;
    background-color: #d39803e0;
    border:1px solid #d39803e0;
    color: white;
    position: relative;
    top: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #button:hover {
    background-color: #856003;
    border: 1px solid #856003;
  }
  
  @media only screen and (max-width: 600px) {
    #button {
      width: 200px;
      height: 40px;
    }
  }